<% if(site.customConfig.lizi){ %>
<script type="text/javascript"
color="220,220,220" opacity='0.9' zIndex="-2" count="200" src="http://www.12cow.com/wp-includes/js/canvas-nest.min.js">
</script>
<% } %>
<% if(site.customConfig.caidai){ %>
<script type="text/javascript" src="http://www.12cow.com/wp-includes/js/ribbon.js"></script>
<% } %>
<div class="site-header">
  <div class="menu-container">
    <% menus.forEach(function(menu) { %>
      <% if (menu.openType === 'External') { %>
        <a href="<%= menu.link %>" class="menu" target="_blank">
          <%= menu.name %>
        </a>
      <% } else { %>
        <a href="<%= menu.link %>" class="menu">
          <%= menu.name %>
        </a>
      <% } %>
    <% }); %>
  </div>
  
</div>
