
<div class="id_card">
	<img class = "ava" src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>"  alt="" />
        <center class="id_card-title">
            <%= themeConfig.siteName %>
        </center>
        <h2 class="id_card-description">
            <%= themeConfig.siteDescription %>
        </h2>
</div>
